<h1>GO ahead and create your own articles!</h1>
<h1>Crea tus Propios artículos!</h1>


<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %><br />
    </li>
  <% end %>  
</ul>

<%= link_to 'Write Article - CREÁ TU ARTÍCULO', new_article_path %>